body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    pointer-events: none;
    transition: 200ms ease-in-out;

    &.active{
        opacity: 1;
        pointer-events: all;
    }
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    font-weight: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-container {
    margin-top: 1em;
    margin-bottom: .5em;
}

.nav-logo {
    width: 8em;
    height: auto;
}

.about-me {
    color: #6100A2;
    border: .18em #6100A2 solid ;
    padding: .3em .9em;
    border-radius: .3em;

    &:hover {
        background-color: #6100A2;
        color: white;
        box-shadow: #6100A2 0 0 5em;
        transition: ease-in-out .3s;
    }
}



a {
    text-decoration: none;
    font-size: .7rem;

}

.hero {
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;
}

.hero-image{
    margin: 3.5em 2em;
    width: 20em;
    height: 14em;
    border: .46em #6100A2 solid ;
    padding: 0;
    animation: moveDown 1.5s ease-in-out forwards;
}

.hero-img-container {
    position: relative ;
}

.hero-img-container::before {
    content: "";
    position: absolute;
    width: 19em;
    height: 14em;
    border: .4em #6100A2 solid ;
    background: #53F9B1 ;
    z-index: -1;
    top: 1.5em;
    right: -1.5em;
    
}

.featured-container {
   position: relative;
}

.featured-container::before {
    content: "";
    position: absolute;
    width: 110.7%;
    height: 15em;
    border: .4em #6100A2 solid ;
    background: #53F9B1 ;
    z-index: -1;
    top: -1.8em;
    left: -1.5em;

}

.hero-title {
    color: #6100A2;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0 1.4em;
    padding-top: .8em;
    
}

.hero-desc {
    color: #6100A2;
    font-size: .9rem;
    margin: 0.5em 2em;
    
}

.border-one {
    position: relative;
}

.border-one::before {
    content: "";
    position: absolute;
    width: 1.3em;
    height: 5em;
    color: #53F9B1;
    border:#6100A2 .3em solid ;
    margin-left: -1.4em;
}

.container {
    display: flex;
    margin: 9em 0 6em 0;
    justify-content: center;
    
}

.container-item {
    cursor: pointer;
    outline: none;
    border: none;
    width: 4em;
    height: 2em;
    margin: .5em;
    border-radius: 50%;
    animation: moveDown 1s ease-in-out forwards;
}


.border-three {
    width: 110.7%;
    height: 5em;
    margin-left: -1.5em;
    margin-bottom: -3em;
    background: #53F9B1;
    border: #6100A2 .4em solid;
    animation: moveDown 1s ease-in-out forwards;
}

#slider {
    transition: 200ms ease-in-out;
    margin: -34em -3em -33em -3em;
    width: 26em;
    text-align: left;
    position:fixed;
    z-index: 2;
    transform: scale(0);
    
    &.active{
        transform: scale(1);
    }
 }

 #slider input[type=radio] {
    display: none;
 }

 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 1em;
    border: #6100A2 .5em solid;
    background: #fff;
    position: relative;
    z-index: 1;

 }

 #close {
    cursor: pointer;
    position: absolute;
    margin-left: 16em;
    margin-top: -.5em;
    width: 1.8em;
 }

 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0%;

    .active {
        margin-left: 0%;
    }
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;

    .active {
        margin-left: -100%;
    }
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;

    .active {
        margin-left: -200%;
    }
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;

    .active {
        margin-left: -300%;
    }
 }
 #slide5:checked ~ #slides .inner {
    margin-left: -400%;

    .active {
        margin-left: -400%;
    }
 }
 #slide6:checked ~ #slides .inner {
    margin-left: -500%;

    .active {
        margin-left: -500%;
    }
 }
 #slide7:checked ~ #slides .inner {
    margin-left: -600%;

    .active {
        margin-left: -600%;
    }
 }
 
 
 #slides .inner {
    width: 715%;
    height: 33em;
 }
 #slides .slide {
    width: 14%;
    float:left;
    display: flex;
    height: 100%;
    color: #616161;
 }

 .slide-content {
    h2 {
        font-size: 1rem;
        margin-top: 1em;
        
    }
    p {
        font-weight: 400;
        font-size: .7rem;
        margin-top: 2em;
    }

    ul {
        font-size: .7rem;
    }
 }

 #slides .slide_1,
 #slides .slide_2,
 #slides .slide_3,
 #slides .slide_4,
 #slides .slide_5,
 #slides .slide_6,
 #slides .slide_7 {
    background: #fff;
 }

.more-button {
    font-size: .7rem;
    color: #6100A2;
}

 #controls {
    margin: -50px 0 0 5.8em;
    width: 60%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    width: 50px;
    height: 50px;
    opacity: 1;
 }


 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(5),
 #slide5:checked ~ #controls label:nth-child(6),
 #slide6:checked ~ #controls label:nth-child(7),
 #slide7:checked ~ #controls label:nth-child(1) {
    background: url(/img/icon-toRight.svg) no-repeat;
    float:right;
    margin: 0 0 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(1),
 #slide2:checked ~ #controls label:nth-last-child(7),
 #slide3:checked ~ #controls label:nth-last-child(6),
 #slide4:checked ~ #controls label:nth-last-child(5),
 #slide5:checked ~ #controls label:nth-last-child(4),
 #slide6:checked ~ #controls label:nth-last-child(3),
 #slide7:checked ~ #controls label:nth-last-child(2) {
    background: url(/img/icon-toLeft.svg) no-repeat;
    float:left;
    margin: 0em 0 0 0em;
    display: block;
 }

 #border  {
    position:absolute;
    border: #6100A2 .4em solid;
    height: 35em;
    width: 19em;
    margin: -37.5em 0 0 4.5em;
    z-index: -1;
 }

#slide1:checked ~ #border {
    background: #EC0F47;
}
#slide2:checked ~ #border {
    background: #EE6B3B;
}
#slide3:checked ~ #border {
    background: #FBBF54;
}
#slide4:checked ~ #border {
   background: #15C286;
}
#slide5:checked ~ #border {
    background: #0275E9;
}
#slide6:checked ~ #border {
    background: #022C7A;
}
#slide7:checked ~ #border {
   background: #700460;
}


#inline-border {
    position: absolute;
    opacity: .3;
    width: 9em;
    height: .75em;
    margin: -32.7em 0 0 5.3em;
    z-index: 1;
}

#slide1:checked ~ #inline-border {
    background: #EC0F47;
}
#slide2:checked ~ #inline-border {
    background: #EE6B3B;
}
#slide3:checked ~ #inline-border {
    background: #FBBF54;
}
#slide4:checked ~ #inline-border {
   background: #15C286;
   width: 7em;
}

#slide5:checked ~ #inline-border {
    background: #0275E9;
}
#slide6:checked ~ #inline-border {
    background: #022C7A;
    width: 4em;
}
#slide7:checked ~ #inline-border {
   background: #700460;
   width: 7em;
}
 
@media only screen and (max-width: 376px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(5),
    #slide5:checked ~ #controls label:nth-child(6),
    #slide6:checked ~ #controls label:nth-child(7),
    #slide7:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(1),
    #slide2:checked ~ #controls label:nth-last-child(7),
    #slide3:checked ~ #controls label:nth-last-child(6),
    #slide4:checked ~ #controls label:nth-last-child(5),
    #slide5:checked ~ #controls label:nth-last-child(4),
    #slide6:checked ~ #controls label:nth-last-child(3),
    #slide7:checked ~ #controls label:nth-last-child(2){
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }

    .hero-image {
        margin: 3.5em .4em;
        width: 19em;
    }

}

@media only screen and (min-width: 377px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(5),
    #slide5:checked ~ #controls label:nth-child(6),
    #slide6:checked ~ #controls label:nth-child(7),
    #slide7:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(1),
    #slide2:checked ~ #controls label:nth-last-child(7),
    #slide3:checked ~ #controls label:nth-last-child(6),
    #slide4:checked ~ #controls label:nth-last-child(5),
    #slide5:checked ~ #controls label:nth-last-child(4),
    #slide6:checked ~ #controls label:nth-last-child(3),
    #slide7:checked ~ #controls label:nth-last-child(2){
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }

   body {
       width: 375px;
       margin: 0 auto;
   }

   .container-item {
        width: 4em;
        height: 2em;
        margin: .7em;
        border-radius: 50%;
        animation: moveDown 1s ease-in-out forwards;
    }
   
    #slider {
        padding: 13% 10% 0 5%;
    }

    .img-container ::before {
        border: .6em #6100A2 solid ;
    }
 }

 @media only screen and (min-width: 1200px){
     
    body {
        overflow: hidden;
        width: 1200px;
        background-color: #E0E0E0;

        .hero-image {
            width: 45%;
            height: auto;
            border: none ;
            float: right;
            margin-right: -1em;
        }

        .hero-img-container::before {
            border: none;
            background:black;
            width: 33.75em;
            height: 110vh;
            right: -1em;
            top: -5em;
            
        }

        .featured-container {
            width: 50%;
            padding-top: 10%;

            .hero-title {
                font-size: 1.9rem;
                margin-left: 6%;
                
            }
            
            .hero-desc {
                font-size:1.1rem ;
            }

            .marked {
                background: #53F9B1;

            }
        }

        .featured-container::before {
            display: none;
            
        }

        .border-one {
            display: none;
        }

        .border-three {
            display: none;
        }

        header {
            display: flex;
            margin: 0 2em;
            justify-content: space-between;
            padding-right: 50%;
        }

        .container {
            padding-right: 3.5em;
            justify-content:space-evenly;
            margin: 6em 0;

            .container-item {
                cursor: pointer;
                transition: ease-out .2s;
                width: 2em;
                height: 2em;
            }

            .container-item:hover {
                width: 4em;
                height: 4em;
                transition: ease-in .2s;
            }
        }
    
        #slider {
            position: fixed;
            margin: -14em 9em;
            width: 68%;
            padding: 0;
        }

        #slider .inner {
            height: 22em;
        }

        #border {
            margin: -26.5em 0 0 5em;
            height: 23.5em;
            width: 87%;
 
        }

        .slide-content {
            padding:.5em 2em;

            h2 {
                font-size: 1.3rem;
            }

            p {
                font-size: .8rem;
            }
            
        }

        #close {
            right: .5em;
        }

        #controls {
            width: 15%;
            float: right;
            right: 5em;
            bottom: 0em;
        }

        #inline-border {
            bottom: 80%;
            left: 4%;
            width: 12em;
        }

        #slide4:checked ~ #inline-border {
            background: #15C286;
            width: 9em;
         }

         #slide6:checked ~ #inline-border {
            background: #022C7A;
            width: 6em;
         }

        #slide7:checked ~ #inline-border {
            background: #700460;
            width: 9.5em;
         }

        .overload {
            display: none;
        }
        
    }

 }

 @media only screen and (max-width: 361px){
     .hero {

        &-img-container ::before {
            border: .6em #6100A2 solid ;
        }

        &-title{
            font-size: 1.2rem;
        }

         &-desc{
            font-size: .8rem;
         }
     }
    
     .container-item {
        cursor: pointer;
        transition: ease-out .2s;
        width: 2em;
        height: 1.8em;
    }

    #slider {
        position: absolute;
        left: 0;
        padding-top: 10em;
        padding-left: .8em;
    }
    
     
 }

 @media only screen and (max-height: 655px){
     #slider{
         padding-top: 10em;
         position: absolute;
     }
 }


 @keyframes moveDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
 }